.App {
  text-align: center;
  background-color: azure;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}
.App .btn {
  padding: 2px;
  line-height: 0;
}

.App-link {
  color: #61dafb;
}
